.bg-container {
    height: 100vh;
    background-color: #ffffff;
}

.main-heading {
    font-size: 42px;
    font-family: "Open Sans";
    font-weight: bold;
}

.button {
    border-color: black;
    border-width: 3px;
    border-radius: 20px;
    border-style: solid;
    height: 80px;
    font-size: 14px;
    padding: 10px;
}

.button1 {
    background-color: #e0e0e0;
}

.button2 {
    background-color: #6fcf97;
}

.button3 {
    background-color: #56ccf2;
}

.button4 {
    background-color: #bb6bd9;
}
.button5{
    background-color: #873e23;
}

.back-button {
    background-color: #222222;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    font-family: "Open Sans";
    border-radius: 7px;
}

.color_span {
    color: #49a6e9;
}

.paragraph {
    color: #222222;
    font-size: 16px;
    font-weight: 400;
    font-family: "Open Sans";
}